.bg-white { background-color: #fff !important; }
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.card {
    background-color: #fff;
    background-clip: border-box;
    border: unset;
    border-radius: 0.25rem;
}
body .card {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #35d4af;
    text-align: left;

    box-shadow: rgb(215, 232, 253) 0px 4px 10px 1px;
}
body .card .card-body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;

}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(65 111 214);
    border-bottom: unset;
}

.card a {
    color: #2468ff;
    /* text-decoration: none; */
    background-color: transparent;
}
.app-logo{
  height: 40px;
}
.sp-color{
  color: #faebd7;
}
.btn{
  box-shadow: rgb(215, 232, 253) 0px 4px 10px 1px;
}
.sazal{
  box-shadow: rgb(215, 232, 253) 0px 4px 10px 1px;
  border-radius: 0rem;
}
.card a.btn {
    color: #fff;
    text-decoration: none;
    background-color: #de443f;
    border-color: #de443f;
    box-shadow: rgb(132 125 131) 0px 1px 5px 1px;
    border-radius: 0rem;
    margin: 0px 10px;
}
.card a.btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #de5e5e;
    border-color: #de5e5e;
    box-shadow: rgb(215, 232, 253) 0px 1px 5px 1px;
    border-radius: 0rem;
}
.card button.btn {
    color: #fff;
    text-decoration: none;
    background-color: #de443f;
    border-color: #de443f;
    box-shadow: rgb(132 125 131) 0px 1px 5px 1px;
    border-radius: 0rem;
    margin: 0px 10px;
}
.card button.btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #de5e5e;
    border-color: #de5e5e;
    box-shadow: rgb(215, 232, 253) 0px 1px 5px 1px;
    border-radius: 0rem;
}
